name: Electron Build

on:
  release:
    types: [published]

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set dynamic version in manifest.json
      run: npm run update-manifest-version

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Build Electron app for Windows
      run: npm run build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Windows artifact
      uses: actions/upload-artifact@v4
      with:
        name: PixelFortress-Windows
        path: dist/*.exe

  build-macos:
    runs-on: macos-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set dynamic version in manifest.json
      run: npm run update-manifest-version

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Build Electron app for macOS
      run: npm run build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload macOS artifact
      uses: actions/upload-artifact@v4
      with:
        name: PixelFortress-macOS
        path: dist/*.dmg

  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set dynamic version in manifest.json
      run: npm run update-manifest-version

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Build Electron app for Linux
      run: npm run build
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Linux artifact
      uses: actions/upload-artifact@v4
      with:
        name: PixelFortress-Linux
        path: dist/*.AppImage

  release:
    runs-on: ubuntu-latest
    needs: [build-windows, build-macos, build-linux]
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download all build artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts

    - name: List downloaded artifacts (for debugging)
      run: ls -R artifacts

    - name: Prepare Release Notes
      run: |
        VERSION=$(node -p "require('./package.json').version")
        sed -i "s/{{version}}/$VERSION/g" RELEASE_NOTES.md

    - name: Upload artifacts to Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          artifacts/PixelFortress-Windows/*.exe
          artifacts/PixelFortress-macOS/*.dmg
          artifacts/PixelFortress-Linux/*.AppImage
        token: ${{ secrets.GITHUB_TOKEN }}
        overwrite: true
        body_path: RELEASE_NOTES.md
